body {
    margin: 0;
    padding: 0;
    background: url("../images/bg3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.row img{
    height: 100px;
    margin-top: 30px;
}
.container{
    margin-top: 120px;
    align-items: center;
    text-align: center;
}
.footer-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 10px 50px 10px;
    margin-top: 140px;
}

.footer-content .footer img{
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 20px;
    padding: 2px 0px 2px 0px;
}

.footer .facebook{
    margin-right: 10px;
}

.footer .instagram{
    margin-right: 10px;
    margin-left: 10px;
}

.footer .twitter{
    margin-right: 10px;
}
.register-menu {
    margin-bottom: 10px;
}

.row {
    margin: 0 auto;
    width: 400px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}

#loginBtn,
#registerBtn {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    float: left;
    padding: 0px 50px 10px 50px;
}

#registerBtn {
    border-bottom: 3px solid rgb(255, 65, 65);
}

.alert {
    margin-top: 20% !important;
    color: #3b5998;
}

.form-group button {
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
}

.form-group input:hover {
    background-color: #333;
    color: white;
}

.form-control {
    width: 100%;
    height: 45px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    outline: transparent;
    /* text-indent: 18px; */
    border: none;
    font-size: 12px;
}

.remember-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text {
    color: #b3b3b3;
}

.color_link {
    color: #737373;
}

.signup-link {
    color: white;
    text-decoration: none;
}

.warning-input {
    display: none;
    color: #e87c03;
    margin-top: 0;
    font-size: 0.8rem;
    margin-top: 6px;
}

.signup-link:hover {
    text-decoration: underline;
}

.face_icon {
    color: #3b5998;
    margin-right: 6px;
    font-size: 20px;
}

.log_face {
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.login-face {
    margin: 50px 0 15px 0;
    vertical-align: middle;
    color: #8c8c8c;
}

.protection {
    font-size: 0.8rem;
    color: #8c8c8c;
    height: 200px;
    width: 300px;
}

#result {
    color: white;
    height: 200px;
    width: 300px;
}

.protection a {
    text-decoration: none;
}

#result {
    height: inherit;
    width: inherit;
}

.protection a:hover {
    text-decoration: underline;
}

#result {
    color: #8c8c8c;
}

.tel-link {
    text-decoration: none;
    color: #757575;
}

.tel-link:hover {
    text-decoration: underline;
}

.form-group label {
    color: white;
    font-family: sans-serif;

}

#btn:hover {
    background-color: rgb(233, 1, 13);
}


@media screen and (max-width: 740px) {
    body {
        background: black;
    }

    .login {
        padding: 0 10px 0 10px;
        width: 100%;
    }

    .login-div {
        width: 90%;
        margin: 0 auto;
    }

    .bottom {
        border-top: 1px solid #737373;
        width: 460px;
    }

    .upper {
        padding-bottom: 200px;
    }

    .list-bottom {
        width: 33%;
    }
}

@media screen and (max-width: 500px) {
    .list-bottom {
        width: 50%;
    }
}